.modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: z('modal');
    width: 100%;
    height: 100%;

    &__background{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(34,34,43,0.5);
        z-index: z('modal');
    }

    &__container{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: white;
        border-radius: 6px;
        z-index: z('modal')+1;
        width: 80%;
        padding: 40px 24px;
        box-shadow: 0 6px 16px rgba(34,34,43,0.3);

        @include breakpoint($b-desk) {
            max-width: 708px;
            padding: 40px 24px;
        }

        &__content{
            max-height: 80vh;
            overflow: scroll;
        }
    }

    &__close{
        position: absolute;
        top:4px;
        right: 4px;
        width: 32px;
        height: 32px;
        font-size: 30px;
        text-align: center;
        transform: rotate(45deg);
        font-weight: 100;
        cursor: pointer;
    }
}
