$checkList-c-border-color: #e1e1e4;
$checkList-c-background-color: #ffffff;

$up-down-padding: $g-big-margin;
$sides-padding: $g-margin;

.check-list-mod {

    &__content {
        border: 1px $checkList-c-border-color solid;
        background-color: $checkList-c-background-color;
        padding: $up-down-padding $sides-padding;

        @include breakpoint($b-tab) {
            padding: du($up-down-padding, vw) du($sides-padding, vw);
        }

        &__list-div {
            position: relative;
            margin-top: $up-down-padding;
            padding: 0;

            list-style-type: none;

            ::v-deep & .fonts {
                text-align: left;
            }

            & li {
                position: relative;

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                margin-bottom: 16px;
            }

            &__span {
                margin: 0 0 0 $sides-padding;
                color: white;
            }
        }

        &__button-container {
            padding-top: $g-little-margin;

            &__button {
                width: 100%;
            }
        }
    }
}
