<template>
    <div class="instant-win">
        <div class="instant-win__collect" v-show="currentStep === 0">
            <Collect :name="collectName" @success="handleCollectSuccess" :sizes="sizes" :optinType="optinType" :inputType="inputType" :sendEmail="sendEmail" />
        </div>

        <div v-if="currentStep === 1 && win !== null">
            <div v-if="win" class="instant-win__win">
                <!-- @slot The content displayed if the user wins -->
                <slot name="win" :prize="prize"></slot>
            </div>

            <div v-else class="instant-win__lose">
                <!-- @slot The content displayed if the user loses -->
                <slot name="lose" :prize="prize"></slot>
            </div>
        </div>
    </div>
</template>

<script src="./InstantWin.js"></script>
<style scoped lang="scss" src="./InstantWin.scss"></style>
