<template>
    <div class="livestream">
        <Click v-if="!noButton"
               v-livestream
               v-timestamp:after="getLiveReminder"
               button block :trackingLabel="btnLabel" :label="btnLabel" type="live" />

        <!-- Live Modal -->
        <div v-show="showModal" :class="{ 'miniModal': miniModal }">
            <section class="livestream__modal">
                <div class="livestream__modal__background" @click="setMini"></div>
                <div class="livestream__modal__container">
                    <div class="livestream__modal__close livestream__modal__close--closing-cross" @click="closeModal">
                        <i class="icon-cross"></i>
                    </div>
                    <!-- Only Mob -->
                    <div v-show="!$config.detectEnv.isDesktop && !$store.state.livestream.shopOpen" class="livestream__modal__close livestream__modal__close--arrow-down" @click="setMini(true)">
                        <i class="icon-arrow_down"></i>
                    </div>
                    <div class="livestream__modal__fullscreen" @click="setMini(false)">
                        <i class="icon-arrow_up"></i>
                    </div>
                    <div class="livestream__modal__container__content">
                        <iframe class="livestream__iframe livestream__iframe--live" ref="liveIframe" />
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>

<script src="./Livestream.js"></script>
<style scoped lang="scss" src="./Livestream.scss"></style>
