// path to assets img : '~@/assets/img/'
$gallery-background-img-mob: ''; // "https://picsum.photos/300/800/?random=1";
$gallery-background-img-desk: ''; // "http://picsum.photos/1500/800";
$gallery-c-background: transparent;

$gallery-spacing-mob: vw(48px) 0;
$gallery-spacing-desk: du(96px) 0;

// text colors
$gallery-c-title: $c-text;
$gallery-c-subtitle: $c-text;

.gallery__title + .gallery__wrapper {
    padding: 10% 0;
    @include breakpoint($b-tab-desk) {
        padding: 5% 0;
    }
}

.gallery {
    overflow: hidden;
    padding: $gallery-spacing-mob;
    background-color: $gallery-c-background;
    @if ($gallery-background-img-mob != '') { background: url($gallery-background-img-mob) center center / cover $gallery-c-background; }

    @include breakpoint($b-tab-desk) {
        padding: $gallery-spacing-desk;
        @if ($gallery-background-img-desk != '') { background: url($gallery-background-img-desk) center center / cover $gallery-c-background; }
    }

    &__title {
        margin: 5% auto;
        text-align: center;
        color: $gallery-c-title;

        @include breakpoint($b-tab-desk) {
            margin: 2.5% auto;
        }

        &--subtitle {
            color: $gallery-c-subtitle;
        }
    }

    &__wrapper {
        padding: 25% 0;
        display: flex;
        flex-wrap: wrap;
        max-width: rem(1200px);
        margin: 0 du((5px / 2));

        @include breakpoint($b-tab-desk) {
            padding: (25% / 2) 0 (25% / 2);
            margin: auto;
        }

        > div {
            flex: 1 0 (100% / 2);
            height: 100%;
            overflow: hidden;

            @include breakpoint($b-tab-desk) {
                flex: 1;
            }

            :deep {
                .video {
                    width: auto;
                }
            }

            > div {
                margin: du((5px / 2));
                max-height: du(290px);
                overflow: hidden;

                @include breakpoint($b-tab-desk) {
                    margin: 0 du((5px));
                    max-height: du(420px);
                }

                ::v-deep {
                    video,
                    img {
                        transform-origin: center center;

                        .shifted & {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
}
