<template>
    <div class="collect">
        <div class="collect__wrapper">
            <!-- Form -->
            <form v-if="this.status !== 'submitted'" @submit.prevent="handleForm" class="collect__fields">
                <div v-for="(field, index) of this.formSettings.dataConfiguration" :key="`data-${index}`"
                    :class="`collect__field collect__field--${field.type} ${field.name}`"
                    :style="sizes && sizes[field.name] ? `flex-basis: ${sizes[field.name]}%` : ''">
                    <template v-if="field.type !== 'checkbox' && field.type !== 'radio'"> <!-- TEXTES & EMAILS -->
                        <label v-html="`${field.label}`" />
                        <input v-if="field.type === 'email'" type="email" :placeholder="field.label" required
                            v-model="formData.recipient" />
                        <Tel v-else-if="field.type === 'tel'" v-model="formData.data[field.name]" :label="field.label" />
                        <PostalCode v-else-if="field.type === 'postalCode'" v-model="formData.data[field.name]" :field="field" @validate="handleValidate" />
                        <input v-else :class="field.type" :type="field.type" :required="field.required"
                            :placeholder="field.label" v-model="formData.data[field.name]">
                    </template>
                    <template v-else> <!-- CHECKBOXES & RADIOS -->
                        <div class="check-button">
                            <input :id="field.name" :class="field.type" type="checkbox" :required="field.required"
                                v-model="formData.data[field.name]">
                            <span class="checkmark"></span>
                        </div>
                        <label :for="field.name" v-html="field.label" />
                    </template>
                </div>
                <div class="collect__field collect__field--submit collect__submit">
                    <Click button variant="submit" size="m" center :label="this.formSettings.submitLabel || ''"
                        :class="['vp-style', this.$config.detectEnv.isDesktop ? 'bigger-height' : '']" />
                </div>

                <p class="collect__error" v-if="this.errorMessage">{{ $t(`mailApi.${this.errorMessage}`) }}</p>
            </form>

            <!-- Success -->
            <div v-else>
                <slot name="success"></slot>
            </div>
        </div>
    </div>
</template>

<script src="./Collect.js"></script>
<style scoped lang="scss" src="./Collect.scss"></style>
