// animation: backgroundColor 3.5s infinite linear;

@keyframes backgroundColor {
    0%   { background: #33CCCC; }
    20%  { background: $c-vp-hover; }
    40%  { background: #33CCCC; }
    80%  { background: $c-vp-hover; }
    100% { background: #33CCCC; }
}
