
.frow-col {

    &.centered {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        align-content: center;
        height: 100%;
    }
    &.centered-column {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        align-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        height: 100%;
    }
    &.row-start {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: start;
        justify-content: flex-start;
    }
    &.row-center {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
    }
    &.row-end {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: end;
        justify-content: flex-end;
    }
    &.row-between {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
    &.row-around {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        justify-content: space-around;
    }
    &.row-evenly {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        justify-content: space-evenly;
    }
    &.column-start {
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: start;
        align-items: flex-start;
        align-content: flex-start;
        -webkit-box-pack: start;
        justify-content: flex-start;
    }
    &.column-center {
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        align-content: center;
        -webkit-box-pack: start;
        justify-content: flex-start;
    }
    &.column-end {
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: end;
        align-items: flex-end;
        align-content: flex-end;
        -webkit-box-pack: start;
        justify-content: flex-start;
    }
    &.inline {
        display: flex;
        display: inline-flex;
    }
    &.wrap {
        display: flex;
        flex-wrap: wrap;
    }
    &.wrap-reverse {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    &.nowrap {
        display: flex;
        flex-wrap: nowrap;
    }
    &.direction-row {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
    }
    &.direction-reverse {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        flex-direction: row-reverse;
    }
    &.direction-column {
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
    &.direction-column-reverse {
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        flex-direction: column-reverse;
    }
    &.justify-start {
        display: flex;
        -webkit-box-pack: start;
        justify-content: flex-start;
    }
    &.justify-end {
        display: flex;
        -webkit-box-pack: end;
        justify-content: flex-end;
    }
    &.justify-center {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
    }
    &.justify-between {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
    &.justify-around {
        display: flex;
        justify-content: space-around;
    }
    &.justify-evenly {
        display: flex;
        justify-content: space-evenly;
    }
    &.items-start {
        display: flex;
        -webkit-box-align: start;
        align-items: flex-start;
    }
    &.items-end {
        display: flex;
        -webkit-box-align: end;
        align-items: flex-end;
    }
    &.items-center {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }
    &.items-stretch {
        display: flex;
        -webkit-box-align: stretch;
        align-items: stretch;
    }
    &.items-baseline {
        display: flex;
        -webkit-box-align: baseline;
        align-items: baseline;
    }
    &.content-start {
        display: flex;
        align-content: flex-start;
    }
    &.content-end {
        display: flex;
        align-content: flex-end;
    }
    &.content-center {
        display: flex;
        align-content: center;
    }
    &.content-between {
        display: flex;
        align-content: space-between;
    }
    &.content-around {
        display: flex;
        align-content: space-around;
    }
    &.content-evenly {
        display: flex;
        align-content: space-evenly;
    }
}
