<template>
    <Click id="homeScroll" v-scroll-to="'.app__container'" block>
        <section class="home">
            <div class="home__container" :class="this.homeStyle">

                <!-- Insert components here -->

                <div v-if="this.homeStyle === 'product'" class="home__container__product-img">
                    <Frow>
                        <FrowCol mobCols="11-12" deskCols="1-3">
                            <Img src="back-to-vp.svg" alt="retour à l'accueil"/>
                        </FrowCol>
                    </Frow>
                </div>

                <span v-if="this.homeStyle === 'full-page'" class="home__container__arrow"><Img src="arrow-down.svg" alt="vers l'offre" /></span>
            </div>
        </section>
    </Click>
</template>

<style scoped lang="scss" src="./Home.scss"></style>
<script src="./Home.js"></script>
