<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no">
    <meta name="robots" content="noindex">

    <meta name="version" content="2.2.2" />
    <meta name="author" content="[meta_author] - 2024 - Veepee | ad" />
    <meta name="description" content="[meta_description]" />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Carte Rose by Veepee" />
    <meta property="og:title" content="Veepee présente [meta_brand]" />
    <meta property="og:description" content="[meta_description]" />
    <meta property="og:image" content="https://www.veepee.fr/experiences/pb-clarins78/facebook.png" />

    <title>Carte rose à [meta_brand]</title>
    <link id="favicon" rel="icon" href="<%= BASE_URL %>back-to-vp.svg">
    <style>
      html, body {
        /*******DON'T REMOVE********/
        max-width: 100vw;
        /*****************************/
        margin: 0;
        padding: 0;
        overflow-x: hidden;
      }

      #onetrust-consent-sdk {
          font-family: 'hk-grotesk';
      }
    </style>
    <script>
      (function processConsent(){
        let consentString = new URLSearchParams(window.location.search).get("otConsentString")
        if(consentString){
          document.cookie = "OptanonAlertBoxClosed="+new Date().toISOString() //Set Cookie to disable banner display
          var expires = new Date()
          expires.setYear(expires.getFullYear()+1)
          expires = expires.toISOString()
          let datestamp = new Date().toString().replace(/\ /g,"+").replace(/:/g,"%3A")
          document.cookie = "OptanonConsent=datestamp="+datestamp+"&version=6.0.0&interactionCount=0&isIABGlobal=false&landingPath=NotLandingPage&groups="+encodeURIComponent(consentString)+"&hosts=&legInt=; expires="+expires
        }
      }())
    </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but this page doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
