.header {

    &__animation {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;

        @extend %fullHeight;

        &__bg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 110%;
            overflow: hidden;

            @include breakpoint($b-tab-desk) {
                height: 100%;
            }

            ::v-deep img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &--clipPath {
            width: 100%;
            height: 100%;
        }
    }
}
