<template>
    <section class="footer">
        <div class="footer__wrapper">
            <div class='footer__carterose'>
                <Img v-if="this.$config.lang.isCarteRose" src="logo-carte-rose-footer.svg" alt="Carte Rose à" inlineSvg class="footer__carterose--img" />
                <Img v-else-if="this.$config.lang.isPrivalia" src="logo-pink-priv-brand-footer.svg" alt="Pink Brand to" inlineSvg class="footer__carterose--img" />
                <Img v-else src="logo-pink-priv-brand-footer.svg" alt="Carte Rose à" inlineSvg class="footer__carterose--img" />
            </div>
            <div class="footer__brand">
                <Img src="logo_kiehls.png" :alt="$t('footerMentions')" class="footer__brand--img" />
            </div>
        </div>
        <span class="footer__mentions">&copy;  Kiehl’s {{ year }}. {{ $t('footerMentions') }}</span>
    </section>
</template>

<style scoped lang="scss" src="./Footer.scss"></style>
<script src="./Footer.js"></script>
