<template>
    <div class="spinningwheel">
        <div class="spinningwheel__collect" v-show="currentStep === 0">
            <Collect :name="collectName" @success="handleCollectSuccess" :sizes="sizes" :optinType="optinType" :inputType="inputType" :sendEmail="sendEmail" />
        </div>
        <div class="spinningwheel__wheel" v-show="currentStep === 1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2457.6 2457.6">
                <g ref="wheel">
                    <g>
                        <path d="M1700.45,194.99C1129.02-62.78,457.14,191.41,199.7,762.85-14.37,1237.38,121.91,1796.72,530.28,2119.6c492.12,388.11,1205.93,303.92,1594.04-188.2,323.61-410.43,324.81-988.86,2.93-1400.63-27.89-35.63-57.85-69.61-89.71-101.74-97.18-97.88-211.41-177.19-337.08-234.04h-.01Z" style="fill: #fff;"/>
                        <path d="M1685.7,227.52C1179.76-1.01,582.8,184.04,294.26,658.3,30.67,1090.09,97.08,1646.27,454.37,2004.57c31,30.95,63.75,60.1,98.09,87.3,475.95,376.51,1166.95,295.95,1543.46-180,314.79-398.03,316.18-959.83,3.37-1359.42-27.27-34.29-56.3-67.14-86.96-98.43-94.22-94.7-204.9-171.46-326.62-226.51h-.01Z" style="fill: #3f3c42;"/>
                    </g>

                    <g>
                        <path d="M1233.34,1229.29h0l-4.72-1099.18h.01c-192.94,.77-382.25,52.52-548.76,150h0c-167.01,96.72-305.32,236.08-400.77,403.81l954.23,545.37v0Z" style="fill: #a0a0a0;"/>
                        <path d="M1233.33,1229.3h-.01L279.04,683.8h0c-95.8,167.47-145.64,357.29-144.48,550.23h0c.26,192.99,51.79,382.46,149.32,548.98l949.41-553.7h.01Z" style="fill: #e5dcd8;"/>
                        <path d="M1233.35,1229.3h.01l949.55-553.68h0c-97.14-166.7-236.61-304.77-404.28-400.23h0c-167.27-96.27-357.11-146.37-550.09-145.17l4.81,1099.07v.02h0Z" style="fill: #f8f5f4;"/>
                        <path d="M2332.55,1224.59c-.77-192.94-52.52-382.25-150-548.76l-949.2,553.47h0l954.25,545.39h.01c95.66-167.51,145.64-357.21,144.94-550.1h0Z" style="fill: #e5dcd8;"/>
                        <path d="M2187.6,1774.69l-954.23-545.37v0h-.01l4.72,1099.18c192.93-.77,382.23-52.52,548.74-149.99h0c166.8-97.01,305.03-236.3,400.77-403.82Z" style="fill: #a0a0a0;"/>
                        <path d="M1233.35,1229.3h0L284.15,1782.78c96.78,166.85,235.98,305.12,403.48,400.78,167.61,95.7,357.43,145.69,550.44,144.94l-4.72-1099.2Z" style="fill: #f8f5f4;"/>
                    </g>

                    <g>
                        <path style="opacity: .13;" d="M1233.35,165.17c587.86,.34,1064.14,477.3,1063.8,1065.15-.05,192.99-52.6,382.33-152.02,547.74-90.98,149.91-217.08,275.43-367.41,365.72-378.92,225.42-857.58,193.92-1203.69-79.21-33.06-26.61-64.68-54.96-94.72-84.94-414.6-416.29-412.91-1090.09,3.37-1504.36,183.98-183.3,428.7-292.9,687.97-308.08,20.9-1.35,41.8-2.02,62.7-2.02h0Zm0-40.45c-21.57,0-43.48,.67-65.06,2.02C559.54,162.13,95.05,683.92,130.45,1292.68c29.67,507,400.84,928.63,899.99,1022.34,599.32,112.25,1176.39-282.8,1288.63-882.12,112.25-599.32-283.48-1177.4-883.47-1289.3-66.69-12.51-134.39-18.83-202.24-18.88h0Z"/>
                        <path d="M1325.03,1026.39c-112.25-50.41-244.12-.27-294.52,111.99-25.92,57.73-26.07,123.76-.42,181.61,11.16,24.63,26.56,47.11,45.5,66.4,6.4,6.07,13.15,12.13,19.89,17.53,28.36,22.27,61.65,37.41,97.08,44.16,35.38,6.27,71.74,4.19,106.18-6.07,107.88-32.92,173.88-141.56,153.37-252.47-6.07-35.51-21.03-68.91-43.48-97.08-5.48-7.05-11.33-13.8-17.53-20.22-19.07-19.15-41.45-34.68-66.07-45.84h0Z" style="fill: #fff;"/>
                        <path d="M1228.63,104.49h0c-10.24,0-18.54-8.3-18.54-18.54V18.54c0-10.24,8.3-18.54,18.54-18.54h0c10.24,0,18.54,8.3,18.54,18.54V85.95c0,10.24-8.3,18.54-18.54,18.54Zm18.54,2334.57v-67.41c0-10.24-8.3-18.54-18.54-18.54h0c-10.24,0-18.54,8.3-18.54,18.54v67.41c0,10.24,8.3,18.54,18.54,18.54h0c10.24,0,18.54-8.3,18.54-18.54h0Zm1124.14-1191.55h67.75c10.24,0,18.54-8.3,18.54-18.54h0c0-10.24-8.3-18.54-18.54-18.54h-67.75c-10.11,.18-18.2,8.43-18.2,18.54h0c0,10.11,8.09,18.36,18.2,18.54Zm-2353.11,0H85.95c10.24,0,18.54-8.3,18.54-18.54h0c0-10.24-8.3-18.54-18.54-18.54H18.2c-10.1,.18-18.2,8.43-18.2,18.54H0c0,10.11,8.1,18.36,18.2,18.54h0ZM1815.81,248.09l33.71-58.31c5.1-8.85,2.08-20.15-6.74-25.28h0c-8.85-5.1-20.15-2.08-25.28,6.74l-33.71,58.31c-5.27,8.12-2.97,18.97,5.15,24.25,.19,.12,.38,.24,.58,.36l1.01,.67h0c8.85,5.1,20.15,2.08,25.28-6.74ZM640.1,2286.37l33.71-58.31c5.1-8.85,2.08-20.15-6.74-25.28h0c-8.85-5.1-20.15-2.08-25.28,6.74l-33.71,58.65c-5.18,8.57-2.47,19.71,6.07,24.94h.67c8.92,5.03,20.22,1.88,25.26-7.04l.02-.04v.34h0ZM673.14,230.22l-34.04-58.65c-5.13-8.82-16.43-11.84-25.28-6.74h0c-8.82,5.13-11.84,16.43-6.74,25.28l34.04,58.65c4.97,8.74,16.09,11.78,24.82,6.81,.04-.02,.08-.05,.12-.07h0c8.93-5.01,12.11-16.31,7.1-25.24l-.02-.04h0Zm1177.06,2037.27l-33.71-58.31c-5.13-8.82-16.43-11.84-25.28-6.74h0c-8.82,5.13-11.84,16.43-6.74,25.28l33.71,58.31c5.13,8.82,16.43,11.84,25.28,6.74h0c8.82-5.13,11.84-16.43,6.74-25.28Zm375.84-1597.05l58.31-34.04c8.82-5.13,11.84-16.43,6.74-25.28h0c-4.97-8.74-16.09-11.78-24.82-6.81-.04,.02-.08,.05-.12,.07h-.34l-58.65,33.71c-8.74,4.97-11.78,16.09-6.81,24.82,.02,.04,.05,.08,.07,.12h.34c4.87,9.01,16.11,12.37,25.12,7.5,.05-.03,.11-.06,.16-.09ZM191.79,1853.23l58.31-34.04c8.82-5.13,11.84-16.43,6.74-25.28h0c-5.25-8.67-16.41-11.65-25.28-6.74l-58.65,34.04c-8.74,4.97-11.78,16.09-6.81,24.82l.07,.12h.34c5.01,8.93,16.31,12.11,25.24,7.1l.04-.02h0Zm56.29-1211.78l-58.31-33.71c-8.85-5.1-20.15-2.08-25.28,6.74h0c-5.1,8.85-2.08,20.15,6.74,25.28l58.65,33.71c8.87,4.9,20.03,1.93,25.28-6.74h0c5.03-8.92,1.88-20.22-7.04-25.26l-.04-.02h0Zm2037.94,1176.72l-58.31-33.71c-8.12-5.27-18.97-2.97-24.25,5.15-.12,.19-.24,.38-.36,.58l-.67,1.01h0c-4.9,8.87-1.93,20.03,6.74,25.28l58.31,33.71c8.85,5.1,20.15,2.08,25.28-6.74h0c5.1-8.85,2.08-20.15-6.74-25.28Z" style="fill: #fff;"/>
                        <path d="M1233.54,321.71c-500.82,0-906.81,405.99-906.81,906.81s405.99,906.81,906.81,906.81,906.81-405.99,906.81-906.81-405.99-906.81-906.81-906.81h0Zm14.2,1569.04c-360.44,0-652.63-292.19-652.63-652.63s292.19-652.63,652.63-652.63,652.63,292.19,652.63,652.63-292.19,652.63-652.63,652.63Z" style="fill: #fff;"/>
                    </g>

                    <g>
                        <polygon points="1225.26 1228.97 1228.97 204.27 1241.78 1228.97 1225.26 1228.97" style="fill: #e5dcd8;"/>
                        <polygon points="1229.31 1221.89 2118.5 712.91 1237.4 1236.72 1229.31 1221.89" style="fill: #e5dcd8;"/>
                        <polygon points="1237.4 1221.89 2122.89 1737.95 1228.97 1236.38 1237.4 1221.89" style="fill: #e5dcd8;"/>
                        <polygon points="1241.78 1228.97 1238.07 2253.67 1225.26 1228.97 1241.78 1228.97" style="fill: #e5dcd8;"/>
                        <polygon points="1237.4 1236.72 348.2 1745.36 1229.31 1221.89 1237.4 1236.72" style="fill: #e5dcd8;"/>
                        <polygon points="1228.97 1236.38 343.81 720.66 1237.4 1221.89 1228.97 1236.38" style="fill: #e5dcd8;"/>
                    </g>

                    <g>
                        <path d="M1525.88,500.03l-10.83-4.48,5.02-12.13,25.68,10.62-23.38,56.56-14.84-6.14,18.37-44.42h-.02Z"/>
                        <path d="M1546.15,526.86c8.37-16.66,28.09-21.18,43.18-13.6,15.19,7.63,23.34,26.16,14.97,42.82-8.32,16.55-28.2,21.39-43.39,13.76-15.09-7.58-23.08-26.42-14.76-42.97h0Zm43.17,21.68c4.89-9.74,1.66-18.72-6.3-22.72-7.86-3.95-16.99-1.19-21.88,8.56-4.9,9.74-1.77,18.93,6.09,22.87,7.96,4,17.2,1.03,22.09-8.71h0Z"/>
                        <path d="M1612.38,560.63c9.94-15.77,30.01-18.36,44.29-9.36,14.38,9.07,20.69,28.29,10.75,44.06-9.88,15.67-30.13,18.56-44.52,9.5-14.28-9-20.41-28.53-10.53-44.2h.01Zm40.86,25.76c5.81-9.22,3.46-18.47-4.07-23.22-7.44-4.69-16.79-2.82-22.61,6.4-5.81,9.22-3.59,18.66,3.85,23.35,7.54,4.75,17.02,2.69,22.83-6.54h0Z"/>
                        <path d="M1675.67,598.13l6.17-7.98,7.24,5.59c10.76-6.06,24.14-5.35,34.81,2.89,8.54,6.59,12.24,13.31,12.48,22.97l-14.22,.57c-.04-5.51-1.95-9.36-6.5-12.87-4.08-3.15-8.73-4.23-13.11-3.16l11.6,8.96-6.17,7.98-14.57-11.25c-.59,.58-1.1,1.23-1.6,1.88s-1,1.3-1.41,2.02l14.57,11.25-6.17,7.98-11.6-8.96c.1,4.67,2.22,8.83,6.3,11.98,5.66,4.37,10.49,4.25,15.14,2.66l3.88,13.96c-10.06,3.05-17.96,1.39-27.33-5.85-10.49-8.1-14.59-21.2-11.44-33.14l-7.24-5.59,6.17-7.98,5.38,4.16c.41-.72,.91-1.37,1.41-2.02s1-1.3,1.6-1.88l-5.38-4.16h-.01Z"/>
                        <path d="M1957.54,1095.01l27.9,19.44c7.94,5.57,11.42,8.26,16.41,7.51,3.94-.59,6.18-3.88,5.52-8.29-.79-5.33-5.42-7.73-10.78-8.71l1.77-15.2c12.82,.94,21.36,9.74,23.14,21.69,2.42,16.24-6.11,25.09-16.19,26.59-7.42,1.1-15.14-2.96-23.73-8.92l-2.11-1.46c-2.65-1.86-6.37-6.16-6.37-6.16,0,0,1.46,5.83,1.77,7.92l2,13.45-13.34,1.98-7.38-49.63,1.39-.21h0Z"/>
                        <path d="M1995.19,1149.06c18.61-1.15,32.44,13.61,33.49,30.46,1.05,16.97-10.86,33.33-29.46,34.48-18.49,1.15-32.68-13.6-33.73-30.57-1.05-16.85,11.21-33.23,29.7-34.38h0Zm2.99,48.22c10.88-.68,17.01-7.99,16.46-16.88-.54-8.78-7.52-15.27-18.41-14.6-10.88,.67-17.24,8-16.7,16.78,.55,8.89,7.77,15.38,18.65,14.7Z"/>
                        <path d="M1999.34,1223.27c18.63,.66,30.97,16.7,30.37,33.57-.6,16.99-14.04,32.12-32.67,31.46-18.51-.66-31.2-16.71-30.6-33.7,.6-16.87,14.39-31.99,32.9-31.33Zm-1.71,48.27c10.9,.39,17.7-6.3,18.02-15.2,.31-8.79-6.01-15.93-16.9-16.32-10.9-.39-17.94,6.29-18.25,15.07-.31,8.9,6.24,16.06,17.13,16.44h0Z"/>
                        <path d="M1998.78,1296.83l10,1.31-1.19,9.07c10.65,6.25,16.77,18.17,15.02,31.54-1.4,10.7-5.34,17.27-13.58,22.34l-7.65-12c4.74-2.81,7.11-6.4,7.86-12.1,.67-5.12-.74-9.68-3.86-12.92l-1.91,14.53-10-1.31,2.4-18.25c-.8-.22-1.61-.33-2.43-.44-.81-.11-1.63-.21-2.46-.2l-2.4,18.25-10-1.31,1.91-14.53c-3.99,2.43-6.51,6.36-7.18,11.47-.93,7.09,1.6,11.21,5.32,14.42l-10.11,10.38c-7.69-7.16-10.23-14.83-8.69-26.57,1.72-13.14,10.98-23.28,22.88-26.56l1.19-9.07,10,1.31-.88,6.74c.83,0,1.64,.1,2.46,.2,.81,.11,1.63,.21,2.43,.44l.88-6.74h-.01Z"/>
                        <path d="M1776.95,1837.71l-16.87,14.19c-17.05,14.34-34.75,14.06-47.13-.66s-9.45-32.19,7.51-46.45l4.31-3.62-11.7-13.91,12.56-10.57,51.32,61.02h0Zm-46.85-22.19c-10.23,8.6-11.24,16.5-4.23,24.85,7.09,8.43,15.23,8.64,25.28,.19l3.95-3.32-21.05-25.04-3.95,3.32h0Z"/>
                        <path d="M1661.18,1842.99c-4.69,3.32-6.95,7.64-7.94,10.5l-12.99-2.74c1.49-6.22,4.64-12.33,13.16-18.35,14.55-10.29,30.16-8.11,39.03,4.43,8.73,12.35,5.09,28.13-7.55,37.06-14.65,10.35-30.31,5.06-39.44-9.89l30.93-21.86c-4.22-3.33-9.36-3.29-15.2,.84h0Zm2.58,19.3c3.75,4.09,8.52,4.75,13.6,1.16s6.9-8.32,4.5-13.95l-18.1,12.79h0Z"/>
                        <path d="M1651.6,1895.11l-13.55,8.19-4.47-7.85c1.13,8.9-2.91,13.54-7.33,16.21-2.81,1.7-5.4,2.17-7.65,2.3l-3.14-14.95c2.19-.23,4.1-.7,6.01-1.85,6.12-3.7,7.73-8.51,2.22-17.64l-11.46-18.96,13.55-8.19,25.84,42.75h-.02Z"/>
                        <path d="M1602.02,1896.1c7,13.67,2.64,27.77-8.11,33.27-7.1,3.64-12.5,2.85-17.57-.09l19.04,37.14-14.09,7.22-38.61-75.33,14.09-7.22,3,6.63c.1-5.98,3.4-11.1,10.18-14.57,10.85-5.56,25.06-.72,32.06,12.95h0Zm-34.22,17.54c3.37,6.57,9.42,8.61,15.47,5.51,5.95-3.05,7.62-9.04,4.25-15.62-3.58-6.99-9.37-9.03-15.32-5.98-6.05,3.1-7.98,9.1-4.4,16.09Z"/>
                        <path d="M1541.21,1922.18l10.99,26.67-14.64,6.03-10.58-25.69c-2.14-5.2-5.89-7.21-11.09-5.07-5.85,2.41-7.72,7.11-5.31,12.97l10.18,24.72-14.64,6.03-19.02-46.18,14.63-6.03,2.8,7.72c.54-6.69,4.6-11.91,11-14.55,10.08-4.15,20.27,.27,25.68,13.39h0Z"/>
                        <path d="M907.12,1947.17l10.68,4.84-5.42,11.96-25.31-11.48,25.28-55.73,14.63,6.64-19.86,43.78h0Z"/>
                        <path d="M887.77,1919.68c-8.93,16.36-28.8,20.21-43.62,12.12-14.92-8.15-22.43-26.94-13.5-43.3,8.88-16.26,28.91-20.42,43.83-12.27,14.82,8.09,22.16,27.19,13.28,43.45h0Zm-42.4-23.14c-5.22,9.57-2.3,18.65,5.52,22.92,7.72,4.21,16.94,1.76,22.16-7.81,5.22-9.57,2.41-18.86-5.31-23.07-7.82-4.27-17.15-1.62-22.38,7.96h.01Z"/>
                        <path d="M822.74,1883.67c-10.48,15.42-30.62,17.32-44.59,7.83-14.06-9.55-19.71-28.99-9.23-44.41,10.41-15.32,30.76-17.52,44.82-7.96,13.96,9.49,19.42,29.21,9.01,44.53h-.01Zm-39.96-27.14c-6.13,9.02-4.1,18.34,3.27,23.35,7.27,4.94,16.69,3.4,22.81-5.62,6.13-9.02,4.23-18.53-3.05-23.47-7.37-5.01-16.91-3.27-23.04,5.75h0Z"/>
                        <path d="M760.77,1844.02l-6.43,7.76-7.04-5.84c-10.96,5.69-24.31,4.52-34.69-4.08-8.3-6.88-11.78-13.72-11.68-23.39l14.23-.08c-.15,5.51,1.63,9.42,6.05,13.09,3.97,3.29,8.58,4.53,12.99,3.61l-11.28-9.35,6.43-7.76,14.17,11.75c.61-.56,1.14-1.19,1.66-1.82,.52-.63,1.05-1.26,1.48-1.97l-14.17-11.74,6.43-7.76,11.28,9.35c.06-4.67-1.92-8.9-5.89-12.19-5.5-4.56-10.34-4.61-15.03-3.17l-3.4-14.09c10.16-2.7,18-.77,27.11,6.79,10.2,8.45,13.85,21.68,10.3,33.51l7.04,5.83-6.43,7.76-5.24-4.34c-.43,.71-.96,1.34-1.48,1.97-.52,.63-1.05,1.26-1.66,1.82l5.24,4.34h.01Z"/>
                        <path d="M500.1,1362.79l-27.91-19.43c-7.94-5.57-11.42-8.25-16.41-7.51-3.94,.59-6.18,3.88-5.52,8.29,.79,5.33,5.42,7.73,10.78,8.71l-1.77,15.2c-12.82-.94-21.36-9.74-23.14-21.68-2.42-16.23,6.1-25.09,16.19-26.59,7.42-1.11,15.14,2.96,23.73,8.91l2.11,1.46c2.65,1.86,6.37,6.16,6.37,6.16,0,0-1.46-5.83-1.77-7.92l-2-13.45,13.33-1.99,7.39,49.63-1.39,.21h.01Z"/>
                        <path d="M462.44,1308.75c-18.61,1.16-32.45-13.61-33.49-30.46-1.05-16.97,10.85-33.33,29.46-34.49,18.49-1.15,32.68,13.59,33.73,30.56,1.05,16.85-11.21,33.24-29.7,34.39h0Zm-3-48.21c-10.88,.68-17.01,7.99-16.46,16.88,.55,8.78,7.53,15.27,18.41,14.6,10.88-.68,17.24-8,16.7-16.78-.55-8.89-7.77-15.38-18.65-14.7h0Z"/>
                        <path d="M458.29,1234.5c-18.63-.66-30.97-16.7-30.38-33.57,.6-16.99,14.04-32.12,32.67-31.46,18.51,.65,31.2,16.7,30.61,33.69-.59,16.87-14.38,31.99-32.9,31.34Zm1.7-48.28c-10.9-.38-17.7,6.3-18.02,15.2-.31,8.79,6.01,15.93,16.9,16.32,10.9,.38,17.94-6.29,18.25-15.08,.31-8.91-6.24-16.06-17.14-16.44h0Z"/>
                        <path d="M458.84,1160.99l-10-1.31,1.19-9.07c-10.65-6.24-16.77-18.16-15.02-31.53,1.4-10.69,5.34-17.27,13.57-22.34l7.65,12c-4.74,2.81-7.1,6.4-7.85,12.1-.67,5.11,.74,9.67,3.86,12.92l1.9-14.53,10,1.31-2.39,18.25c.8,.22,1.61,.33,2.43,.44,.81,.11,1.63,.21,2.46,.2l2.39-18.25,10,1.31-1.9,14.53c3.99-2.43,6.51-6.36,7.18-11.47,.93-7.09-1.61-11.21-5.32-14.41l10.11-10.38c7.69,7.16,10.24,14.82,8.7,26.56-1.72,13.14-10.97,23.27-22.87,26.56l-1.19,9.07-10-1.31,.88-6.74c-.83,0-1.64-.1-2.46-.2-.81-.11-1.63-.21-2.43-.44l-.88,6.74h0Z"/>
                        <path d="M680.62,620.05l16.87-14.19c17.05-14.34,34.75-14.06,47.12,.65,12.38,14.71,9.45,32.19-7.5,46.45l-4.31,3.62,11.7,13.91-12.56,10.57-51.32-61.01Zm46.85,22.18c10.23-8.6,11.24-16.5,4.22-24.85-7.09-8.43-15.23-8.64-25.28-.18l-3.95,3.32,21.06,25.03,3.95-3.32h0Z"/>
                        <path d="M796.39,614.76c4.69-3.32,6.95-7.64,7.94-10.5l12.99,2.74c-1.49,6.22-4.64,12.33-13.16,18.35-14.55,10.29-30.16,8.11-39.03-4.43-8.73-12.35-5.09-28.13,7.54-37.06,14.65-10.35,30.31-5.06,39.44,9.89l-30.93,21.86c4.22,3.33,9.36,3.29,15.2-.84h.01Zm-2.58-19.3c-3.76-4.09-8.52-4.75-13.6-1.16-5.08,3.59-6.9,8.32-4.5,13.95l18.1-12.79h0Z"/>
                        <path d="M805.92,562.65l13.54-8.19,4.47,7.85c-1.14-8.9,2.91-13.54,7.32-16.21,2.81-1.7,5.4-2.17,7.65-2.3l3.15,14.95c-2.19,.23-4.1,.7-6.01,1.85-6.12,3.7-7.73,8.51-2.21,17.64l11.47,18.96-13.54,8.19-25.85-42.74h.01Z"/>
                        <path d="M855.51,561.65c-7.01-13.67-2.64-27.77,8.11-33.28,7.1-3.64,12.5-2.85,17.57,.09l-19.04-37.15,14.09-7.22,38.62,75.34-14.09,7.22-3-6.63c-.1,5.98-3.4,11.1-10.18,14.58-10.85,5.56-25.06,.72-32.07-12.94h-.01Zm34.22-17.55c-3.37-6.57-9.42-8.61-15.47-5.51-5.95,3.05-7.62,9.04-4.25,15.62,3.58,6.99,9.37,9.03,15.32,5.98,6.05-3.1,7.98-9.1,4.4-16.09h0Z"/>
                        <path d="M916.32,535.57l-10.99-26.67,14.63-6.03,10.58,25.69c2.14,5.2,5.89,7.21,11.09,5.07,5.85-2.41,7.72-7.11,5.31-12.97l-10.18-24.72,14.63-6.03,19.03,46.18-14.63,6.03-2.8-7.72c-.54,6.69-4.6,11.91-11,14.55-10.08,4.15-20.27-.27-25.68-13.39h0Z"/>
                    </g>
                </g>

                <g>
                    <path d="M1340.2,1032.12c-66.62-29.9-143.64-25.37-206.29,12.13-15.46,9.08-29.63,20.19-42.13,33.03-12.85,12.58-24.06,26.74-33.37,42.13-38,62.43-42.91,139.54-13.15,206.29,11.16,24.63,26.56,47.11,45.5,66.4,6.4,6.07,12.81,11.8,19.89,17.53,96.56,75.97,236.43,59.28,312.4-37.28,63.23-80.36,63.53-193.47,.74-274.18-5.3-7.09-11.16-13.74-17.53-19.89-18.9-19.43-41.32-35.1-66.07-46.18v.02Z" style="isolation: isolate; opacity: .18;"/>
                    <circle cx="1228.8" cy="1228.8" r="227.2" style="fill: #fff;"/>
                    <path d="M1228.8,1115.57c7.21,0,14.55,1.49,21.67,4.62,30.72,13.54,40.11,42.82,32.55,69.66-5.28,18.71-18.27,32.38-37.84,38.39-1.53,.47-3.58,2.72-3.59,4.16-.22,24.8-.16,49.61-.16,75.12,21.62-13.45,42.68-26.56,63.75-39.67,3.33-2.46,3.32-5.06,3.57-7.28,1.03-9.24,1-18.65,2.68-27.75,4.47-24.2,37.15-46.95,65.04-38.31,11.86,3.44,25.57,9.52,34.93,25.12,10.69,18.24,11.98,37.32,2.6,56.3-7.95,16.09-20.5,26.18-38.89,30.3-18.69,4.18-33.35-1.33-47.28-12.66-1.61-1.3-5.38-1.6-7.22-.62-6.57,3.49-12.75,7.7-19.06,11.69-19.29,12.22-38.56,24.49-57.9,36.64-1.14,.72-2.87,.71-4.32,.7-3.5-.02-7.01,0-10.52,.04h-.02c-3.51-.03-7.02-.06-10.52-.04-1.45,0-3.18,.01-4.32-.7-19.34-12.15-38.61-24.42-57.9-36.64-6.3-3.99-12.49-8.2-19.06-11.69-1.84-.98-5.62-.68-7.22,.62-13.94,11.33-28.59,16.83-47.28,12.66-18.39-4.11-30.94-14.21-38.89-30.3-9.39-18.98-8.09-38.06,2.6-56.3,9.36-15.6,23.07-21.67,34.93-25.12,27.89-8.64,60.57,14.11,65.04,38.31,1.69,9.1,1.65,18.51,2.68,27.75,.25,2.22,.23,4.82,3.57,7.28,21.07,13.11,42.14,26.22,63.75,39.67,0-25.51,.07-50.32-.16-75.12-.01-1.44-2.06-3.69-3.59-4.16-19.57-6.01-32.56-19.68-37.84-38.39-7.56-26.84,1.83-56.12,32.55-69.66,7.12-3.14,14.47-4.63,21.67-4.62h0Z" style="fill: #e5dcd8; fill-rule: evenodd;"/>
                </g>

                <g ref="indicator">
                    <path d="M2390.86,527.52c-39.77-61.01-124.38-77.19-188.09-35.73-19.27,12.39-35.23,29.28-46.52,49.21l-113.26,204.27c-1.66,2.56-1.66,5.86,0,8.43,1.84,2.41,4.72,3.79,7.75,3.71l232.58-20.9c22.73-2.12,44.6-9.76,63.71-22.25,64.04-41.8,83.59-125.39,43.82-186.74h.01Z"/>
                    <path d="M2407.71,516.73c-39.92-61.32-121.91-78.8-183.37-39.1-18.52,11.98-33.71,28.44-44.16,47.86l-106.18,199.55c-1.56,2.63-1.43,5.93,.34,8.43,1.6,2.5,4.45,3.93,7.42,3.71l225.5-16.18c21.96-1.81,43.15-8.98,61.68-20.9,61.2-40.03,78.53-122,38.76-183.37h.01Z" style="fill: #fcfcfc;"/>
                    <path d="M2304.23,550.78c-4.96,.73-9.68,2.57-13.82,5.39-3.93,3.01-7.06,6.95-9.1,11.46-1.39,2.14-2.3,4.56-2.7,7.08-.39,2.34-.62,4.71-.67,7.08,.31,4.96,1.69,9.79,4.04,14.16,2.36,4.43,5.85,8.15,10.11,10.79,3.11,2,6.53,3.48,10.11,4.38h3.71c4.93,.71,9.95,0,14.49-2.02,4.58-1.93,8.62-4.94,11.8-8.76,3.12-3.83,5.31-8.33,6.4-13.15,1.08-4.9,.96-9.99-.34-14.83-2.76-9.64-10.06-17.31-19.55-20.56l-3.71-1.01c-3.56-.67-7.22-.67-10.79,0h.02Z" style="fill: #ccc;"/>
                    <path d="M2305.58,561.23c-3.23,.31-6.29,1.6-8.76,3.71-2.64,1.9-4.73,4.45-6.07,7.42-.76,1.37-1.33,2.85-1.69,4.38-.28,1.56-.39,3.14-.34,4.72,.02,3.33,.95,6.6,2.7,9.44,1.58,2.81,3.77,5.23,6.4,7.08l6.74,2.7h2.36c6.55,.63,12.98-2.02,17.19-7.08,1.96-2.6,3.33-5.59,4.04-8.76,.74-3.12,.62-6.38-.34-9.44-.68-3.22-2.32-6.16-4.72-8.43-2.07-2.36-4.75-4.11-7.75-5.06l-2.36-.67h-7.4Z" style="fill: #666;"/>
                </g>
            </svg>

            <div class="spinningwheel__control" v-if="!hasSpun">
                <Click button noTracking label="Jouer" @click.native="play()" />
            </div>
        </div>

        <div v-if="currentStep === 2">
            <div v-if="win" class="spinningwheel__win">
                <!-- @slot The content displayed if the user wins -->
                <slot name="win" :selectedPrize="selectedPrize"></slot>
            </div>

            <div v-else class="spinningwheel__lose">
                <!-- @slot The content displayed if the user loses -->
                <slot name="lose" :selectedPrize="selectedPrize"></slot>
            </div>
        </div>
    </div>
</template>

<script src="./SpinningWheel.js"></script>
<style scoped lang="scss" src="./SpinningWheel.scss"></style>
