<template>
    <article v-show="!this.isConsent" class="consent">
        <section class="consent__wrapper">
            <div class="consent__wrapper__inner">
                <div class="consent__wrapper__inner__carterose">
                    <Img v-if="this.$config.lang.isCarteRose" class="consent__wrapper__inner__carterose__img" src="logo-carte-rose.svg" inlineSvg center
                    alt="Carte Rose à"/>
                    <Img v-else class="consent__wrapper__inner__carterose__img" src="logo-pink-brand.svg" inlineSvg center alt="Pink Brand à"/>
                </div>
                <div class="consent__wrapper__inner__brand">
                    <Img class="consent__wrapper__inner__brand__img brandFlip" center src="https://picsum.photos/400/200?random=1" :alt="$t('footerMentions')"/>
                </div>
            </div>
            <div class="consent__wrapper__content">
                <div class="txt">
                    <p>
                        <span v-for="(el, i) in $t('consent.txt')" :key="`el--${i}`" v-html="el"/>
                    </p>
                </div>
                <Click button :trackingLabel="`consent:${$t('consent.no')}`" :label="$t('consent.no')" :href="$getLink('home')" redirectionType="home" class="consent-cta" />
                <Click button :trackingLabel="`consent:${$t('consent.yes')}`" :label="$t('consent.yes')" @click.native="closeConsent" class="button consent-cta consent-cta-active"/>
            </div>
        </section>
    </article>
</template>

<style scoped lang="scss" src="./Consent.scss"></style>
<script src="./Consent.js"></script>
