
<template>
    <div class="frow" :style="`backgroundColor: ${this.backgroundColor}`">
        <!-- @slot Insert as many \<FrowCol>\</FrowCol> as needed. -->
        <slot></slot>
    </div>
</template>

<style scoped lang="scss" src="./Frow.scss"></style>
<script src="./Frow.js"></script>
