<template>
    <section class="dropdown" ref="dropdown">
        <div class="dropdown__wrapper">
            <div class="dropdown__title">
                <Fonts v-for="(title, index) in title" :key="`title--${index}`" :text="title" />
            </div>

            <div class="dropdown__items-wrapper">
                <div :class="`dropdown__item dropdown__item--${index}`" v-for="(item, index) in items" :key="`dropdown-item--${index}`">
                    <div class="dropdown__item__header" @click="handleAnimation(index)">
                        <Fonts v-if="item.title" :text="item.title" />
                        <Img class="dropdown__item__arrow" src="icons/icon-circle-arrow.svg" alt="arrow icon" inlineSvg />
                    </div>
                    <div class="dropdown__item__description">
                        <Fonts :text="item.description" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script src="./Dropdown.js"></script>
<style scoped lang="scss" src="./Dropdown.scss"></style>
