// Spots on the model
$storyviewer-c-hotspot: $c-vp;
$storyviewer-c-hotspot-hover: $c-vp-hover;
$storyviewer-c-hotspot-annotation: #ffffff;

// Timeline
$storyviewer-c-timeline: #ffffff;
$storyviewer-c-timeline-fill: #000000;
$storyviewer-c-timeline-spot: $c-vp;
$storyviewer-c-timeline-spot-hover: $c-vp-hover;

.StoryViewer {
    position: relative;

    &__model {
        width: 100%;

        @extend %fullHeight;

        &.hasStory {
            position: absolute;
        }

        &.isBefore {
            bottom: auto;
        }

        &.isSticky {
            position: fixed;
            bottom: 0;
        }

        &.isAfter {
            bottom: 0;
        }
    }

    &__progress {
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translateY(-50%);
        height: 100%;
        z-index: 1;

        &__timeline {
            position: absolute;
            top: 50%;
            right: 50px;
            transform: translateY(-50%);
            width: 5px;
            height: 50%;
            background-color: $storyviewer-c-timeline;
            z-index: 2;

            &__fill {
                transition: height 0.2s ease;
                background-color: $storyviewer-c-timeline-fill;
            }

            &__spot {
                position: absolute;
                left: 50%;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                background-color: $storyviewer-c-timeline-spot;
                transition: background-color 0.1s ease-in-out;

                &:hover {
                    background-color: $storyviewer-c-timeline-spot-hover;
                }

                ::v-deep .click {
                    font-size: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &__percent {
            position: absolute;
            top: 50%;
            right: 70px;
            transform: translateY(-50%);
            z-index: 2;
            color: #ffffff;
        }
    }
}
