.video {
    width: 100%;
    height: 100%;

    &__container {
        position: relative;
        height: 100%;

        & video {
            height: 100%;
            object-fit: cover;
        }
    }
}
