.imgGif {

    position: relative;

    &__ghost {
        visibility: hidden;
    }

    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
}