$app-c-background: white;
$app-container-c-background: transparent;
$header-background-mob: "~@/assets/img/header_background_mob.jpg";
$header-background-desk: "~@/assets/img/header_background_desk.jpg";
$offer-background-mob: "~@/assets/img/offer_background_mob.jpg";
$offer-background-desk: "~@/assets/img/offer_background_desk.jpg";
$static-zone-background-mob: "~@/assets/img/static_zone_img.jpg";
$static-zone-background-desk: "~@/assets/img/static_zone_img_desk.jpg";
$free-zone-background-mob: "~@/assets/img/freeZone_img_mob.jpg";
$free-zone-background-desk: "~@/assets/img/free_zone_img_desk.jpg";

$black: #121217;
$orange: #ffa502;
$green: #adcb39;
$violet: #7030a0;
$grey: #d1d1d1;

#app {
    background: $app-c-background;
}
.app {
    &__container {
        position: relative;
        background: $app-container-c-background;
    }
}
::v-deep .header {
    background-image: url($header-background-mob);
    background-size: cover;
    background-repeat: no-repeat;
    &__mentions {
        .ml {
            color: $black;
            font-size: 1.2rem;
        }
    }
    &__scrollTo_icon--img {
        font-size: 1px;
    }
    @include breakpoint($b-tab-desk) {
        background-image: url($header_background_desk);
        background-position: top;

        &__content {
            padding-top: 2rem;
        }
        &__scrollTo_icon--img {
            width: 1.5rem;
        }
    }
}
::v-deep .staticOffer {
    background-image: url($offer-background-mob);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 9rem 1rem 1rem 1rem;
    &__img {
        margin-bottom: 1.5rem;
    }
    &__container {
        display: flex;
        justify-content: center;
        gap: 1rem;
        text-align: center;
    }
    &__container2 {
        background-color: white;
        border: 2px solid $orange;
        justify-content: center;
        text-align: center;
        padding: 1.2rem 1rem;
        margin-bottom: 1.5rem;
    }
    &__title2 {
        margin-bottom: 2rem;
        h4 {
            font-size: 1.5rem;
            font-weight: 900;
            margin-bottom: 1rem;
        }
        .smallBody {
            font-size: 1rem;
            font-family: $t-kiehls-hand;
        }
    }
    &__title {
        max-width: 168px;
        width: 100%;
        height: 102px;
        background-color: white;
        padding: 1rem 1rem;
        border: 2px solid $violet;
        &:first-child {
            border: 2px solid $green;
        }
        .smallBody {
            font-size: 0.9rem;
            font-weight: bold;
        }
        h4 {
            font-family: $t-kiehls-hand;
            font-weight: bold;
        }
    }
    &__btn {
        .click__inner__button {
            background-color: $black;
        }
    }
    .plus {
        background-color: $black;
        border: none;
        font-size: 2rem;
        font-weight: 500;
    }
    @include breakpoint($b-tab-desk) {
        padding: 3rem 1rem 3rem 1rem;
        &__img {
            width: 35%;
            margin-left: auto;
            margin-right: auto;
        }
        &__container2 {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            .staticOffer__img {
                width: 60%;
            }
        }
        &__title {
            max-width: 345px;
        }
    }
}
::v-deep .staticZone {
    background-image: url($static-zone-background-mob);
    background-size: cover;
    background-position: center;
    height: 50vh;

    @include breakpoint($b-tab-desk) {
        background-image: url($static-zone-background-desk);
    }
}

::v-deep .freeZone {
    background-image: url($free_zone-background-mob);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5rem;
    &__img {
        .img-mod__image {
            width: 20rem;
            // height: 7rem;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .slider {
        position: relative;
        z-index: 2;
        &__nav {
            background-color: $black;
            border: 0;
            &::after {
                color: #fff;
            }
        }
    }
    .content__title--favorites {
        justify-content: center;
    }
    .swiper {
        &-container {
            overflow: visible;
        }
        &-pagination-bullets {
            display: none;
        }
    }

    .cards {
        height: 26rem;
        &__card {
            border: 1px solid $black;
            border-radius: 0;
        }
        .img-mod__image {
            margin-top: -7rem;
            height: 12rem;
        }
    }
    .click {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid $black;
        &__inner__button {
            color: $black;
            background-color: #fff;
        }
    }

    @include breakpoint($b-tab-desk) {
        padding-left: 3rem;
        padding-right: 3rem;
        display: flex;
        align-items: center;
        .slider {
            width: 65%;
            .swiper-slide-active {
                margin: 0;
            }
            &__slide {
                transform: none;
            }
            &__nav {
                display: none;
            }
        }
        &__img {
            width: 35%;
        }
    }
    @include breakpoint($b-xxlarge) {
        &__img {
            .img-mod__image {
                width: 32rem;
            }
        }
        .cards {
            .img-mod__image {
                height: 15rem;
            }
        }
    }
}
::v-deep .blog {
    text-align: center;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    &__img {
        width: 80%;
        margin: 0 auto 1rem;
    }
    .content__title {
        &--btn {
            flex-direction: column;
        }
        .fonts {
            text-decoration: underline;
        }
        .icon-arrow_right {
            display: none;
        }
    }
    @include breakpoint($b-tab-desk) {
        padding: 3rem 17rem;
        &__img {
            width: 50%;
            margin: 0 auto 1rem;
        }
        .content__title {
            &--btn {
                flex-direction: row;
            }
            .icon-arrow_right {
                display: flex;
                border: 1px solid $black;
                &::before {
                    color: $black;
                }
            }
        }
    }
}
::v-deep .sticky {
    .pop-in {
        .sticky {
            &__content {
                box-shadow: 0px 4px 22px 0px rgba(34, 34, 43, 0.1),
                    0px 12px 16px -6px rgba(34, 34, 43, 0.08),
                    0px -1px 4px -2px rgba(34, 34, 43, 0.08);
            }
            &__text {
                display: none;
            }
            &__btn {
                width: 70%;
            }
        }
    }

    .click__inner__button {
        background-color: $black;
    }
    @include breakpoint($b-tab-desk) {
        .pop-in {
            .sticky {
                &__content {
                    padding: 1rem;
                }
            }
        }
    }
}
::v-deep .mention {
    padding: 1.5rem 1rem;
    p {
        font-size: 0.77rem;
    }
    @include breakpoint($b-tab-desk) {
        padding: 4rem 10rem;
        text-align: center;
        p {
            font-size: 0.6rem;
        }
    }
    @include breakpoint($b-xxlarge) {
        p {
            font-size: 0.95rem;
        }
    }
}
::v-deep .footer {
    background-color: $grey;
    &__mentions {
        color: $black;
    }
    &__carterose--img .carte {
        fill: $black;
    }
}
