<template>
    <div id="app">
        <!-- <Loader classic type="progressBar"/> -->

        <div v-show="contentInitialized">
            <Debug />
            <RedirectionPopup />
            <BackToHome />
            <Header variant="bottom" :textScroll="{ text: $t('header.textscroll'), type: 'ml' }"
                logo="logo_kiehls.png" />
            <div class="staticOffer">
                <Img class="staticOffer__img" src="offer_title_img.png" alt="" />
                <div class="staticOffer__container">
                    <Fonts class="staticOffer__title"
                        :text="[{ type: 'h4', text: $t('offer.discount1Title') }, { type: 'smallBody', text: $t('offer.discount1subtitle') }]" />
                    <Fonts class="staticOffer__title"
                        :text="[{ type: 'h4', text: $t('offer.discount2Title') }, { type: 'smallBody', text: $t('offer.discount2subtitle') }]" />
                </div>
                <Fonts class="staticOffer__plus" :text="[{ type: 'h2', text: '+', fontClass: 'plus' }]" />
                <div class="staticOffer__container2">
                    <Fonts class="staticOffer__title2"
                        :text="[{ type: 'h4', text: $t('offer.discount3Title') }, { type: 'smallBody', text: $t('offer.discount3subtitle') }]" />
                    <Img class="staticOffer__img" src="offer_img2.png" alt="" />
                </div>
                <Click class="staticOffer__btn" id="idBtn" button center size="m" :label="$t('offer.button')" />
            </div>
            <div class="app__container">
                <div class="staticZone"></div>
                <div class="freeZone">
                    <Img class="freeZone__img" src="freezone-img-title.png" alt="" />
                    <Slider name="myName1" variant="edito" popInCard :title="[
                    ]" :content="[
                        {
                            ratings: 5,
                            title: [{ text: $t('slider.slider2Title'), type: 'bigBody' }, { text: $t('slider.slider2Subtitle'), type: 'smallBody' }],
                            img: 'freezone-slider-2.png',
                            text: { text: $t('slider.slider2Content'), type: 'smallBody' },
                            id: 'button1',
                        },
                        {
                            ratings: 5,
                            title: [{ text: $t('slider.slider1Title'), type: 'bigBody' }, { text: $t('slider.slider1Subtitle'), type: 'smallBody' }],
                            img: 'freezone-slider-1.png',
                            text: { text: $t('slider.slider1Content'), type: 'smallBody' },
                            id: 'button1',
                        },
                        {
                            ratings: 5,
                            title: [{ text: $t('slider.slider3Title'), type: 'bigBody' }, { text: $t('slider.slider3Subtitle'), type: 'smallBody' }],
                            img: 'freezone-slider-3.png',
                            text: { text: $t('slider.slider3Content'), type: 'smallBody' },
                            id: 'button1',
                        }
                    ]" />
                </div>
                <div class="blog">
                    <Img class="blog__img" src="blog_img.png" alt="" />
                    <Fonts class="blog__title" :text="[{ type: 'smallBody', text: $t('categories.title') }]" />
                    <Cards variant="category" isMobRow stickersRounded :cardsList="[
                        {
                            img: 'category-card1.jpg',
                            title: { text: $t('categories.card1'), type: 'bigBody' },
                            id: 'button1'
                        },
                        {
                            img: 'category-card2.jpg',
                            title: { text: $t('categories.card2'), type: 'bigBody' },
                            id: 'button1'
                        },
                        {
                            img: 'category-card3.jpg',
                            title: { text: $t('categories.card3'), type: 'bigBody' },
                            id: 'button1'
                        },
                        {
                            img: 'category-card4.jpg',
                            title: { text: $t('categories.card4'), type: 'bigBody' },
                            id: 'button1'
                        }]" />
                </div>
            </div> <!-- end app__container (do not remove this comment) -->
            <Sticky type="pop-in" position="bottom" trigger=".app__container"/>
            <Fonts class="mention" :text="[{ type: 'ml', text: $t('mention.txt') }]" />
            <Footer />

            <!-- Background Ghosts for Loader -->
            <img v-for="(bgImages, bgIdx) in getImages" :key="`bg-images-${bgIdx}`" :src="bgImages" alt=""
                v-loader:nested class="no-display" />
        </div>
    </div>
</template>

<style scoped lang="scss" src="./App.scss"></style>
<script src="./App.js"></script>
