<template>
    <section class="redirection-popup">
        <div class="redirection-popup__content">
            <span v-if="$config.lang.isPrivalia" class="redirection-popup__flower"></span>
            <span v-else class="redirection-popup__butterfly"></span>
        </div>
    </section>
</template>

<style scoped lang="scss" src="./RedirectionPopup.scss"></style>
<script src="./RedirectionPopup.js"></script>
