$redirectPopup-sprite-size: 150px;
$redirectPopup-flower-size: 50px;
$redirectPopup-c-background-color: #ffffff;

.redirection-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($redirectPopup-c-background-color, 0.7);
    z-index: z('redirectPopup');
    display: none;
    opacity: 0;

    &.active {
        display: block;
        opacity: 1;
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0ms;

        p {
            text-align: center;
            font-size: rem(26px);
        }
    }

    &__flower {
        display: block;
        width: $redirectPopup-flower-size;
        height: $redirectPopup-flower-size;
        background: url("~@/assets/img/logo-privalia.png") 0 0 no-repeat;
        background-size: $redirectPopup-flower-size $redirectPopup-flower-size;
        animation: flowerRotation 1s infinite;
    }

    &__butterfly {
        display: block;
        width: $redirectPopup-sprite-size;
        height: $redirectPopup-sprite-size;
        background: url("~@/assets/img/butterfly-sprites.png") 0 0 no-repeat;
        background-size: $redirectPopup-sprite-size * 12 $redirectPopup-sprite-size;
        animation: butterflySprite 1s steps(1) infinite;
    }
}

@keyframes butterflySprite {
    0%  {background-position: 0 0}
    8%  {background-position: -$redirectPopup-sprite-size 0;}
    16% {background-position: -$redirectPopup-sprite-size * 2 0;}
    24% {background-position: -$redirectPopup-sprite-size * 3 0;}
    32% {background-position: -$redirectPopup-sprite-size * 4 0;}
    40% {background-position: -$redirectPopup-sprite-size * 5 0;}
    48% {background-position: -$redirectPopup-sprite-size * 6 0;}
    56% {background-position: -$redirectPopup-sprite-size * 7 0;}
    65% {background-position: -$redirectPopup-sprite-size * 8 0;}
    74% {background-position: -$redirectPopup-sprite-size * 9 0;}
    83% {background-position: -$redirectPopup-sprite-size * 10 0;}
    91% {background-position: -$redirectPopup-sprite-size * 11 0;}
}

@keyframes flowerRotation {
    0%  { transform: rotate(0) }
    100%  { transform: rotate(360deg) }
}
