$guss-rem-baseline: 16px !default;
$default_width: 320;
$new_width: 360;

// Permet de convertir une taille px => vw
@function vw($value, $baseline: $guss-rem-baseline) {
    $factor: calc($new_width / $default_width);
    @return if(type-of($value) == number and unit($value) == px, calc($value / $baseline * (5vw / $factor)), $value);
}

$desk-default-width: 1920;
// Permet de convertir une taille px => vw (Desktop)
@function vwDesk($value) {
    $factor: calc($desk-default-width / strip-unit($value));
    @return if(type-of($value) == number and unit($value) == px, calc(100vw / $factor), $value);
}
