$guss-rem-baseline: 16px !default;

@function rem($value, $baseline: $guss-rem-baseline) {
    @if $value == 0 {
        @return 0; // 0rem -> 0
    }

    @if type-of($value) == list {
        $result: ();

        @each $e in $value {
            $result: append($result, rem($e, $baseline));
        }

        @return $result;
    } @else {
        @return if(type-of($value) == number and unit($value) == px, calc($value / $baseline * 1rem), $value);
    }
}

@mixin rem($properties, $lheight) {
    @each $property, $value in $properties {
        @if (type-of($value) == number and $value != 0) {
            // Turn unitless values into pixels
            $value: if(unitless($value), $value * 1px, $value);
        }

        #{$property}: $value;
        #{$property}: rem($value);
    }
}
