$sticky-content-c-background: white;
$sticky-c-background: transparent;

.sticky {
    position: relative;
    z-index: z('sticky');
    background-color: $sticky-c-background;

    &__wrapper {
        width: 100%;
    }

    &__inner {

        &__play {
            display: flex;
            justify-content: flex-end;

            @include responsive((
                padding-right: 8px
            ));
        }

        &.pop-in {
            padding-bottom: vw(8px);

            @include breakpoint($b-tab-desk) {
                padding-bottom: du(12px);
            }
        }
    }

    &__content {
        background-color: $sticky-content-c-background;
        padding: vw(8px) vw(16px) vw(16px);

        @include breakpoint($b-tab-desk) {
            padding: du(12px) du(24px);
        }

        &.pop-in {
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0px 1px 10px -2px rgba(34, 34, 43, 0.1), 0px 4px 8px -2px rgba(34, 34, 43, 0.08), 0px 1px 1px -1px rgba(34, 34, 43, 0.08);
            padding: vw(12px) vw(16px);
            border-radius: vw(4px);
            margin: auto;
            width: 88%;

            @include breakpoint($b-tab-desk) {
                justify-content: center;
                border-radius: du(4px);
                width: du(707px);
                padding: du(24px);
            }
        }

        &.middle {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include breakpoint($b-tab-desk) {
                justify-content: center;
            }
        }
    }

    &__text {
        text-align: center;

        .full & {
            margin-bottom: vw(6px);
            @include breakpoint($b-tab-desk) {
                margin-bottom: du(6px);
            }
        }
        .middle & {
            width: 66%;
            @include breakpoint($b-tab-desk) {
                width: auto;
            }
        }
        .pop-in & {
            width: 66%;
            @include breakpoint($b-tab-desk) {
                width: auto;
            }
        }
    }

    &__btn {
        .middle & {
            width: 30%;
            @include breakpoint($b-tab-desk) {
                width: auto;
                margin: 0 0 0 du(24px);
            }
        }
        .pop-in & {
            width: 30%;
            @include breakpoint($b-tab-desk) {
                width: auto;
                margin: 0 0 0 du(24px);
            }
        }
    }
}
